.navBar {
  /* position: absolute; */
<<<<<<< HEAD
=======
  right: 0;
  left: 0;
  /* bottom: 0; */
  /* padding: 1rem; */
  padding-left: 0;
  background-color: #efefef;
  text-align: right;
  /* position: absolute; */
>>>>>>> 6c41541c008b9933864d437abb00737938f9b1b7
  /* list-style-type: none; */
  width: 100%;
}

.navBar ul  {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navBar li {
<<<<<<< HEAD
  display: inline;
=======
>>>>>>> 6c41541c008b9933864d437abb00737938f9b1b7
  /* float: right; */
}

li a {
  display: block;
  padding: 8px;
}

body {
  margin: 0 auto;
  padding: 0;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY_ebF_N-VtrXfp8Q78AbqpTrfv1ki0uCVkwbUHge_xXwepuHb);
}

h1 {
  /* height: 100%; */
  width: 100%;
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
<<<<<<< HEAD
  background: white;
=======
  /* background: white; */
>>>>>>> 6c41541c008b9933864d437abb00737938f9b1b7

}
.container > div  {
  background-color: blue;
<<<<<<< HEAD
=======
  color: white;
>>>>>>> 6c41541c008b9933864d437abb00737938f9b1b7
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.footerNav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
}

.footerNav li {
  display: inline-block;
  list-style-type: none;
  /* float: right; */
}
