body {
  background-color: grey;
}

.navBar {
  list-style-type: none;
}

.navBar li {
  display: inline;
  float: right;
  background: white;
}

li a {
  display: block;
  padding: 8px;
}

h1 {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  background: white;
}

.footerNav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center
}

.footerNav li {
  display: inline-block;
  list-style-type: none;
  float: right;
}
