.navBar {
  /* position: absolute; */
  display: inline-block;
  right: 0;
  left: 0;
  padding-left: 0;
  background-color: #efefef;
  text-align: center;
  /* position: absolute; */
  list-style-type: none;
  width: 100%;
}

.navBar ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li {
  display: inline-block;
  max-width: 100%;
  /* float: right; */
}

li a {
  display: block;
  padding: 8px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: grey;
}

h1 {
  /* height: 100%; */
  width: 100%;
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
}
/*GRID CONTAINER*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background: white; */

}
.container > div  {
  background-color: #468ee4;
  color: white;
  margin: 10px 40px;
  padding: 20px;
  font-size: 30px;
}
/* FOOTER */
.footerNav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
}

.footerNav li {
  display: inline-block;
  list-style-type: none;
  /* float: right; */
}
