/* NAVBAR SECTION */
#navbar {
  position: relative;
  display: inline-block;
  /* padding-left: 0; */
  background-color: #1d1d1d;
  text-align: center;
  width: 100%;
  top: 0;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  padding: 2px;
  /* max-width: 50%; */
  list-style-type: none;
}

li a {
  display: block;
  padding: 8px;
}

/* page content */
body {
  margin: 0 auto;
  padding: 0;
  background-color: grey;
}

.titlename{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.titlename>h1 {
  align-items: center;
}

#welcome-section {
  height: 100vh;
}

#welcome-section > a {
  margin: 5%;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

/*GRID CONTAINER*/
.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
/* .container>a {
  align-content: center;
  width: 50%;
  height: 50%;
  padding: 20px;
} */

#Projects > a > img{
  align-content: center;
  /* width: 10%;
  height: 10%; */
  padding: 20px;
}

#Projects > a > img:hover {
  -webkit-filter: blur(8px);
  filter: blur(18);
}

/* .container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellowgreen;
  align-items: center;
}

.container > a {
  background-color: #468ee4;
  color: white;
  margin: 10px 40px;
  font-size: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#Projects > a:nth-child(1,2,3,4) {
  color: green;
}


/* .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: green;
} */

@media (min-height: 800px){
  body {
    background-color: darkgray;
  }
}

/* FOOTER
.footerNav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: right;
}

.footerNav li {
  display: inline-block;
  list-style-type: none;
} */